<div class="col-md-8">
  <h2>Employees List</h2>
  <div class="input-group mb-8">
    <!-- Search functionality by name -->
    <div class="search">
      <input type="text" [(ngModel)]="name" class="search" (input)="Search()" placeholder="Search an employee by name" minlength="1" maxlength="20" size="40">
    </div>
  </div>
</div>

<hr>

<!-- Display selected employee's information -->
<div class="col-md-8">
  <div *ngIf="currentEmployee">
    <button (click)="setUnactiveEmployee()" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <app-employee-details
      (refreshList)="refreshList()"
      [employee]="currentEmployee"
    ></app-employee-details>
  </div>
  <div *ngIf="!currentEmployee">
    <br />
    <p>Please click on a Employee...</p>
  </div>
</div>



<!-- Display list of employees from DB on a ul -->
<div class="list row">
  <div class="col-md-3">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let employee of employees; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveEmployee(employee, i)"
      >{{ employee.id_employee }}
        <div>

          <img src="{{ employee.picture }}" alt="Employee's picture" width="70px">
        </div>
        {{ employee.name }}
      </li>
    </ul>

    <button class="m-3 btn btn-bg btn-danger" (click)="removeAllEmployees()">
      Remove All
    </button>
  </div>
</div>



