<!-- Main / Navbar -->
<div>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a href="employees" routerLink="employees" class="navbar-brand">Intel HR <small>by Alessandro Maninchedda</small></a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="employees" routerLink="employees" class="nav-link">Employee List</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add new employee</a>
      </li>
    </div>
  </nav>

  <!-- Content inserted via it's selector-->
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
